<footer class="site-footer">
        <div class="gr">
            <div class="company-info">
            <div class="footer" style="text-align: center;margin-left:0px"><h3 style="letter-spacing: 0.6px;">Redes Sociales</h3><br> <a href="https://instagram.com/unicah_hn/"><img src="./assets/img/instagram.png"></a> <a href="https://twitter.com/UNICAH_HN"><img src="./assets/img/twitter.png"></a> <a href="https://www.youtube.com/channel/UCuF6E9Gy5uygvlkBlo447Ow"><img src="./assets/img/youtube.png"></a> <a href="https://plus.google.com/u/0/"><img src="./assets/img/google.png"></a> <a href="https://www.facebook.com/UNICAHONDURAS"><img src="./assets/img/facebook.png"></a><br><br> </div>
          <ul class="nav__items">
          </ul>
            <h3 class="site-footer__logo  site-footer__logo--beta"><a style="text-decoration:none; color:#FFFFFF;" href="/">Partido Intelectual Socialista de Honduras</a></h3>
            <p class="copyright">Derechos reservados © 2017</p>
        </div>
        </div>
</footer>