#btnRegistrar{
	font-size: 1.5em;
	border: 1px solid #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 1%;
	outline: none;
}

#btnRegistrar:hover{
	background-color: rgba(225,255,255,0.1);
	color: #FF1F1F;
}

.subt{
	font-family: 'Cinzel', serif;
	text-align: center;
	color: #FFFFFF;
	margin-top: 2%;
}

.subt2{
	font-family: 'Cinzel', serif;
	text-align: center;
	color: #FFFFFF;
	font-size:1em;
}

.red{
	font-family: 'Cinzel', serif;
	text-align: center;
	color: #FF1F1F;
	margin-top: 2%;
}

#header{
	margin-top:80px;
}

